@(user: User, information: Map[String, Map[String,Tuple5[List[String],List[String],Long,Long,Long]]])(implicit request: Request[Any])

@title(user){
    <div class="container">
        <div class="container-fluid">
            <div class="row-fluid">
            @information.map{ groupmap =>
                <div class="page-header"><h1><small>@groupmap._1</small></h1></div>
            @groupmap._2.map{ usermap =>
                <div class="singleperson">
                    <span class="single-name">@usermap._1</span>
                    <span class="single-project">所参与项目：</span>
                    @usermap._2._1.map{ project =>
                        <span class="single-proname"> @(project)</span><br/>

                    }
                    @usermap._2._2.map{ project =>
                        <span class="single-proname"> @(project)</span><br/>

                    }

                    <span class="single-task">本周task总数：</span>
                    <span class="single-tasknum">@(usermap._2._3+usermap._2._4+usermap._2._5)</span>
                    <span class="single-finish">已完成task：</span>
                    <span class="single-finishnum">@usermap._2._3</span>
                    <span class="single-doing">进行中task：</span>
                    <span class="single-doingnum">@usermap._2._4</span>
                    <span class="single-todo">未开始task：</span>
                    <span class="single-todonum">@usermap._2._5</span>
                    <div class="page-header"></div>
                </div>


            }
            }








            </div>
        </div>

    </div>


    <script src="@routes.Assets.at("javascript/jquery-1.11.1.min.js")"></script>
    <script src="@routes.Assets.at("javascript/jquery.tooltip.js")"></script>
    <script src="@routes.Assets.at("javascript/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascript/toastr.js")"></script>
    <script src="@routes.Assets.at("javascript/rhea.js")"></script>
    <script>

    var rhea = new rhea(@user.teamid,0,@user.id,@user.id);
    rhea.initlistCanEdit();
    rhea.teamprojects();



    </script>
    <script>
    $('#listicon li' ).each(function(){
    $(this ).removeClass('active');

    });
    $('.calculatemenu' ).addClass('active');
    </script>
}


