@(user: User)

@import security._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@title(user){
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h4 class="text-center edit-psw">
                        修改我的登录密码
                    </h4>
                </div>

                <form class="form-horizontal" style="margin-top: 10px;">

                    <div class="control-group">
                        <label class="control-label" for="inputPassword">原有密码:</label>
                        <div class="controls">
                            <input id="oldpassword" type="password" />
                            <div style="display: inline" id="tip1"></div>
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">新密码:</label>
                        <div class="controls">
                            <input id="password1" type="password" />
                            <div style="display: inline" id="tip2"></div>
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">确认密码:</label>
                        <div class="controls">
                            <input id="password2" type="password" />
                            <div style="display: inline" id="tip3"></div>
                        </div>
                    </div>
                    <span class="btn btn-info reset-psw ">重置</span>
                    <span class="btn btn-info confirm-psw">确认修改</span>
                    <li class="text-center">
                        <div id="tip4" style="margin-top: 15px;"></div>
                    </li>

                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="@routes.Assets.at("javascript/jquery-1.11.1.min.js")"></script>
    <script src="@routes.Assets.at("javascript/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascript/md5.js")"></script>
    <script src="@routes.Assets.at("javascript/toastr.js")"></script>
    <script>
    //        hex_md5 = function(data) {
    //        return CryptoJS.MD5 ( data );
    //        };
    toastr.options = {
    "closeButton": false,
    "debug": false,
    "positionClass": "toast-bottom-full-width",
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
    };
    $(document).ready(function(){
    $("#oldpassword").blur(function(){
    var param=$("#oldpassword").val();
    $.ajax({
    type:'POST',
    url:"/json/user/oldpassword",
    data:{oldpassword:md5(param)},
    dataType:'json',
    success:function(data){
    if(data==1){
    $("#tip1").html("<font color=\"green\" size=\"2\">正确</font>");
    }
    else{
    $("#tip1").html("<font color=\"red\" size=\"2\">  错误</font>");
    }
    }
    });
    });
    $("#password1").blur(function(){
    var num=$("#password1").val().length;
    if(num<6){
    $("#tip2").html("<font color=\"red\" size=\"2\">密码太短</font>");
    }
    else if(num>18){
    $("#tip2").html("<font color=\"red\" size=\"2\">密码太长</font>");
    }
    else{
    $("#tip2").html("<font color=\"green\" size=\"2\">可以</font>");
    }
    }) ;
    $("#password2").blur(function(){
    var tmp=$("#password1").val();
    var num=$("#password2").val().length;
    if($("#password2").val()!=tmp){
    $("#tip3").html("<font color=\"red\" size=\"2\"> 密码不一致</font>");
    }
    else{
    if(num>=6&&num<=18){
    $("#tip3").html("<font color=\"green\" size=\"2\"> 正确</font>");
    }
    else{
    $("#tip3").html("<font color=\"red\" size=\"2\"> 密码无效</font>");
    }
    }
    });
    $(".reset-psw").click(function(){
    $('#oldpassword' ).val('');
    $('#password1' ).val('');
    $('#password2' ).val('');
    $("#tip1").empty();
    $("#tip2").empty();
    $("#tip3").empty();

    });
    $(".confirm-psw").click(function()
    {
    var flag=true;
    var old=$("#oldpassword").val();
    var pass=$("#password1").val();
    var pass2=$("#password2").val();
    var num1=$("#password1").val().length;
    var num2=$("#password2").val().length;
    if(num1!=num2||num1<6||num2<6||num1>18||num2>18||pass!=pass2){
    flag=false;
    }
    else{
    flag=true;
    }
    if(flag)
    {
    $.ajax({
    type:'POST',
    url:"/json/user/changepsw",
    data:{oldpassword:md5(old),password:md5(pass)},
    dataType:'json',
    success:function(data)
    {
    if(data==1){
    //                            $("#tip4").show().html("<font color=\"green\" size=\"3\"> 修改成功！</font>");
    toastr.success("密码修改成功");
    $("#tip4").delay(2000).hide(0);
    window.setTimeout("window.location='@routes.Application.index()'",2000);
    }
    else{
    toastr.error("旧密码错误");
    //                            $("#tip4").show().html("<font color=\"red\" size=\"3\">旧密码错误</font>");
    }
    }
    });
    }
    else
    {
    toastr.warning("请根据提示填写");
    //                    $("#tip4").show().html("<font color=\"red\" size=\"3\">请根据提示填写</font>");
    }

    });
    });
    </script>
}


